@use '../variables' as *;

.main-nav {
  display: flex; 
  justify-content: space-between;
  padding: 20px 0px;
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul { display: flex;
    align-items: center;
    > li { padding: 5px;
      padding-right: 10px;
      font-family: $serif;
      font-size: 17px;
      margin-right: 20px;
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul { display: flex;
    align-items: center;
    > li { padding: 5px;
      font-family: $sans-serif;
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $lightest-gray;
  cursor: pointer;
}

    