/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto; 
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: rgb(32, 117, 192);
	// border-color:
	color: white;
	// font-weight:
	padding: 5px;
	border-radius: 5px;
	// transition:
	font-family: $serif;
	// text-transform:
	// font-size:
	// text-align:
	border: none;
	
}

button:hover {
	background-color: gray;
	// border-color:
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}